
@import "clearfix";


.flex-layout-canvas {
  @include clearfix();
  background-color: white;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

@each $num in 1,2,3,4,5,6,7,8,9,10,11,12 {
  .flc-#{$num} {
    @include clearfix();
    width: percentage($num/12);
    min-height: 100px;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    position: relative;
  }
}

.flc-inner {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  border: 2px dashed #98d9ff;
  z-index: 1;
}


.flc-tools {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.flc-icon {
  background-color: #98d9ff;
  color: black;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  text-align: center;
  border: 1px solid hsla(202,100%,50%,1);
  float: left;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}
